@font-face {
    font-family: BluuNext;
    src: url("BluuNext-Bold.otf") format("opentype");
}



body{
    color: rgb(243, 128, 128);
    background-color: #2e3233;
    font-family: BluuNext;
    pointer-events: none;
}

#logo{
    margin-top: 15px;
    margin-left: 15px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1px solid salmon;
    /* position: fixed; */
    
}

#logo:hover {
    opacity: 0.9 ;
}

#page-title{
    margin-top: 15px;
}

#nav-links {
    list-style-type: none;
    margin: 0;
    margin-left: 30px;
    padding-top: 30px;
    width: 110px
    /* position: fixed; */

}

.brick{
    background-image: url("images2/brick.png");
}

#index-title{
    margin-top: 70px;
    /* margin-left: 500px; */
    position: absolute;
    color: #ffff00;
}


#header-img{
    width: 250px;
    height: 250px;
}

.nav-items{
    border: 8px dashed salmon;
    padding: 3px;
    
}

a{
    color: rgb(243, 128, 128);
    text-decoration: none;
    pointer-events: visible;
    
}

a:hover{
    color: rgb(231, 222, 221);
}

#grid-container{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 320px;
    width: 980px;
    /* border: 3px ridge grey; */
    /* background-image: url("images/logo3.png"); */

    background-repeat: no-repeat;
    background-size:cover;
    margin-top: 40px;
    margin-left: 40px;
    pointer-events: all;

}

.cover{
    background:rgb(243, 128, 128)
}

 /* .cell{
    border-radius: 23%;
}  */

.project-title{
    padding-top: 30px;
    padding-left: 30px;
    font-style: italic;
}

.project-info{
    padding-left: 41px;

}